<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- The style of the web page is set by the css files below -->
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/manual.css"/>
    <title>Manual</title>
</head>
<body>
    <div id="header">
        Smart Curtain
    </div>
    <div id="SCinterface">
        <p>This is Manual Mode</p>
        <table>
            <tr>
                <td>
                    <div id="i"><!-- This mark is used to set the picture in the css file-->
                        <a href="{% url 'open' %}">
                            <img src="{% static "images/open.png"%}"/><!-- This is a picture, it is also a link -->
                        </a>
                    </div>
                </td>
                <td>
                    <div id="i">
                        <a href="{% url 'close' %}">
                            <img src="{% static "images/close.png" %}"/><!-- This is a picture, it is also a link -->
                        </a>
                    </div>
                </td>
                <td>
                    <div id="i">
                        <a href="{% url 'stop' %}">
                            <img src="{% static "images/stop.jpeg"%}"/><!-- This is a picture, it is also a link -->
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="{% url 'open' %}">open the curtain</a></td>    <!-- The link to open -->
                <td><a href="{% url 'close' %}">close the curtain</a></td>  <!-- The link to close -->
                <td><a href="{% url 'stop' %}">stop the curtain</a></td>    <!-- The link to stop -->
            </tr>
            <tr>
                <td>
                    <form action="/interface/Opentimer" method="get"><!-- Use the function opentimer -->
                        open time
                        <input type="time" name="opentime"><!-- Input the time  -->
                        <input type="submit" value="Set" /><!-- submit button  -->
                    </form>
                </td>
                <td>
                    <form action="/interface/Closetimer" method="get"><!-- Use the function closetimer -->
                        close time
                        <input type="time" name="closetime"><!-- Input the time  -->
                        <input type="submit" value="Set" /><!-- submit button  -->
                    </form>
                </td>
                <td>
                    <form action="/interface/Deltimer" method="get">
                        delete the timeset
                        <input type="submit" value="Deltimer" style="height: 100px; width: 200px; fontsize:40"/>
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    {% if open == 1 %}      <!-- If the variable open is 1, then the message below will be shown -->
                    The open time is {{ opencontent }}
                    {% endif %}
                </td>

                <td>
                    {% if close == 1 %}     <!-- If the variable close is 1, then the message below will be shown -->
                    The close time is {{ closecontent }}
                    {% endif %}
                </td>
            </tr>
        </table>
        <p>
            <a href="{% url 'auto' %}">Change to Auto mode</a> <!-- The link to Auto mode -->
        </p>
    </div>

</body>
</html>