<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/manual.css"/>
    <title>Manual</title>
</head>
<body>
    <div id="header">
        Smart Curtain
    </div>
    <div id="SCinterface">
        <p>This is Manual Mode</p>
        <table>
            <tr>
                <td>
                    <div id="i">
                        <a href="{% url 'open' %}">
                            <img src="{% static "images/open.png"%}"/>
                        </a>
                    </div>
                </td>
                <td>
                    <div id="i">
                        <a href="{% url 'close' %}">
                            <img src="{% static "images/close.png" %}"/>
                        </a>
                    </div>
                </td>
                <td>
                    <div id="i">
                        <a href="{% url 'stop' %}">
                            <img src="{% static "images/stop.jpeg"%}"/>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="{% url 'open' %}">open the curtain</a></td>
                <td><a href="{% url 'close' %}">close the curtain</a></td>
                <td><a href="{% url 'stop' %}">stop the curtain</a></td>
            </tr>
            <tr>
                <td>
                    <form action="/interface/Opentimer" method="get">
                        open time
                        <input type="time" name="opentime">
                        <input type="submit" value="Set" />
                    </form>
                </td>
                <td>
                    <form action="/interface/Closetimer" method="get">
                        close time
                        <input type="time" name="closetime">
                        <input type="submit" value="Set" />
                    </form>
                </td>
                <td>
                    <form action="/interface/Deltimer" method="get">
                        delete the timeset
                        <input type="submit" value="Deltimer" style="height: 100px; width: 200px; fontsize:40"/>
                    </form>
                </td>
            </tr>

            <tr>
                <td>
                    {% if open == 1 %}
                    The open time is {{ opencontent }}
                    {% endif %}
                </td>

                <td>
                    {% if close == 1 %}
                    The close time is {{ closecontent }}
                    {% endif %}
                </td>
            </tr>
        </table>
        <p>
            <a href="{% url 'auto' %}">Change to Auto mode</a>
        </p>
    </div>

</body>
</html>