body{
    background-color: cornsilk;
}
#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: Verdana;
	font-weight: bold;
    font-size: xx-large;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}