

table {
    position: relative;
	border: #000000 1px solid;
	background-color: #acd1b2;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

td {
	height: 75px;
	width: 400px;
	box-shadow: none;
}


tr {
    text-align: center;
    position: relative;
    font-size: 50 px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
}
#i{
    width: 400px;
    height: 225px;
    border: 1px solid #000;
}

img {
    max-width: 100%;
    max-height: 100%;
}
p{
    position: relative;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    font-size: 50 px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #acd1b2;

}